/* Navbar.css */

.navbar-menu-button {
    display: none;
  }
  
  .navbar-logo {
    height: 50px;
    transition: height 0.3s ease;
  }
  
  /* Tablet and below */
  @media (max-width: 992px) {
    .navbar-menu-button {
      display: inline-block;
    }
  
    .navbar-logo {
      height: 30px !important;
    }
  }
  
  /* Mobile devices */
  @media (max-width: 576px) {
    .navbar-logo {
      height: 25px !important;
    }
  }
  